@use '@angular/material' as mat;
@use './theme/dark';

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
  font-family: 'MedievalSharp', serif;
  letter-spacing: 0.1em;

  * {
    box-sizing: border-box;
  }
  
  router-outlet + * {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1;
  }

  mat-form-field {
    flex-direction: row!important;
  }
}

.snackbarFail {
  .mdc-snackbar__surface {
    background-color: var(--md-sys-color-error) !important;
    color: var(--md-sys-color-on-error) !important;
  }

  .mdc-snackbar__label {
    color: var(--md-sys-color-on-error) !important;
  }

  .mat-mdc-button {
    color: var(--md-sys-color-on-error) !important;
  }
}