:host {
  flex: 1;
}

.loginPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .appTitle {
    font-family: 'MedievalSharp', serif;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    padding: 40px;
    text-align: center;
  }
}