<mat-toolbar class="toolbarContainer">
  <button mat-icon-button (click)="navigateTo('app/home')">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button (click)="navigateTo('app/map')">
    <mat-icon>map</mat-icon>
  </button>
  <button mat-icon-button (click)="navigateTo('app/people')">
    <mat-icon>people</mat-icon>
  </button>
  <button mat-icon-button (click)="navigateTo('app/treasury')">
    <mat-icon fontSet="material-symbols-outlined">crown</mat-icon>
  </button>
  <button mat-icon-button (click)="navigateTo('app/food')">
    <mat-icon>lunch_dining</mat-icon>
  </button>
  <button mat-icon-button (click)="navigateTo('app/weapons')">
    <mat-icon fontSet="material-symbols-outlined">swords</mat-icon>
  </button>
  <button mat-icon-button (click)="navigateTo('app/territory')">
    <mat-icon>domain</mat-icon>
  </button>
  <button mat-icon-button (click)="navigateTo('app/history')">
    <mat-icon>menu_book</mat-icon>
  </button>
</mat-toolbar>