<div class="historyPage">
  <div  class="timeLine">
    <div #scrollContainer class="a">
      @for (time of timeLine; track time) {
      <div class="monthBlock" (click)="selectMonth(time)">
        @if (time.month === 1) {
          <span class="yearLabel"> Année {{ time.year }}</span>
        }
        <span class="monthLabel">{{ time.month }}</span>
        @if (time.eventTitle) {
          <span class="monthMainEvent">{{ time.eventTitle }} de preuse fut-il tel que voila</span>
        }
      </div>
      }
      <div class="finalArrow"></div>
    </div>
  </div>
  <div class="timeDetails">
  @if (currentHistory) {
    <div class="b">
    <div class="currentTimeTitle">Année {{ currentHistory.year }} Mois {{ currentHistory.month }} {{ currentHistory.title }}</div>
    <div class="currentTimeDetails">
        {{ currentHistory.details }}
    </div>
</div>
    @if (currentHistory.events && currentHistory.events.length > 0) {
      <div class="eventsPart">
        <div class="eventsPartBar">
          <div class="c">
          Je suis le titre
          </div>
          <mat-icon (click)="switchEditMode()">edit</mat-icon>
          <mat-icon (click)="addEvent()">add</mat-icon>
        </div>
        <div class="eventsContainer">
          <div cdkDropList class="eventsTitles" (cdkDropListDropped)="moveAnEventInTheMonth($event)">
          @for (event of currentHistory.events; track event) {
            @if (editMode) {
              <div class="eventTitle modifying" [ngClass]="{ selected: selectedEvent.title === event.title }" cdkDrag>
                <div class="title">
                  {{ event.title }}
                </div>
                <mat-icon (click)="deleteEvent(event)">
                  delete          
                </mat-icon>
              </div>
            } @else {
            <div class="eventTitle" [ngClass]="{ selected: selectedEvent.title === event.title }" (click)="selectEvent(event)">
              <div class="title">  
                {{ event.title }}
              </div>
              <mat-icon (click)="updateEvent(event)">
                edit          
              </mat-icon>
            </div>  
            }
            
          }
          </div>
          <div class="selectedEventDetails">
            {{ selectedEvent.details }}
          </div>
        </div>
      </div>
    } @else {
      Aucun évènement renseigné
    }
  }

  </div>
</div>