.historyPage {
  display: flex;
  flex-direction: column;
  // width: 800px;
  overflow: hidden;
  height: 100%;

  .timeLine {
    // gap: 1px;
    // flex: 1;
    // overflow: hidden;
    padding: 10px;
    overflow: auto ;
    // width: auto;

    .a {
      display: flex;
      flex-direction: row;
      padding: 10px;
      overflow: auto ;
    }

    .monthBlock {
      background-color: var(--md-sys-color-inverse-primary);
      border: var(--md-sys-color-background) 1px solid;
      margin-top: 40px;
      height: 100px;
      min-width: 200px;
      // overflow: auto;
      position: relative;
      overflow: visible;

      .yearLabel {
        position: absolute;
        top: -35px;
        left: 0;
        transform: rotate(-45deg);
        // transform-origin: left bottom;
        white-space: nowrap;
        font-size: 0.8rem;
      }

      display: flex ;
      flex-direction: column;

      .monthLabel {
        display: flex;
        flex: 1;
        // text-align: center;
        justify-content: center;
        align-items: center;
      }

      .monthMainEvent {
        flex: 4;
        text-align: center;
      }


      &:hover {
        cursor: pointer;
        color: var(--md-sys-color-primary-container);
        background-color: var(--md-sys-color-on-primary-container);
      }
    }

    .finalArrow {
      width: 0;
      height: 0;
      border-top: 50px solid transparent;
      border-bottom: 50px solid transparent;
      border-left: 100px solid var(--md-sys-color-inverse-primary);
      margin-top: 40px;
    }
  }

  .timeDetails {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .b {
      padding: 10px;
      flex: 1;
      overflow: hidden;
      gap: 5px;
      display: flex;
      flex-direction: column;

      .currentTimeTitle {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
      }

      .currentTimeDetails {
        overflow: auto;
      }
    }

    .eventsContainer {
      display: flex;
      flex: 2;
      margin: 10px;
      background-color: var(--md-sys-color-inverse-primary);
      padding: 10px;
      overflow: hidden;
      gap: 10px;

      .eventsTitles {
        width: 400px;
        overflow: auto;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .eventTitle {
          background-color: var(--md-sys-color-secondary);
          border-radius: 10px;
          padding: 10px;
          color: var(--md-sys-color-on-primary);
          cursor: pointer;

          &:hover {
            background-color: var(--md-sys-color-primary);
          }

          &.selected {
            color: var(--md-sys-color-on-primary);

          }
        }
      }

      .selectedEventDetails {
        flex: 1;
      }
    }
  }
}