.peopleContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow: hidden;

  .personFilters {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .peopleTable {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--mat-sys-surface);
    background-color: var(--mat-sys-surface);
    border-radius: 10px;
    overflow: hidden;
    gap: 1px;

    .peopleList {
      overflow: auto;

      .personItem {
        display: grid;
        grid-template-columns: 30px 1fr 2fr;
        cursor: pointer;
        background-color: var(--mat-sys-primary-container);
        padding: 5px;

        .deadIcon {
          color: red
        }

        &:hover {
          background-color: var(--mat-sys-primary);
        }

        > * {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}