<div class="peopleContainer">
  <div class="peopleHeader">
    <div class="personFilters">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="personFilters.name" (selectionchange)="fetchPeople()" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Duché</mat-label>
        <mat-select [(ngModel)]="personFilters.duchyId" (ngModelChange)="fetchPeople()">
          <mat-option [value]="null">-</mat-option>
          @for (duchy of duchies$ | async; track duchy._id) {
            <mat-option [value]="duchy._id">{{ duchy.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-checkbox [(ngModel)]="personFilters.alive" (change)="fetchPeople()">Vivant</mat-checkbox>
    </div>
  </div>
  <div class="peopleTable">
    <div class="peopleList">
      @for (person of people$ | async; track person._id) {
        <diV class="personItem">
          <div class="deadIcon">
            @if (!person.alive) {
              <mat-icon fontSet="material-symbols-outlined">skull</mat-icon>
            }
          </div>
          <div>{{ person.name }}</div>
          <div>Duché de {{ person.duchy.name }}</div>
        </diV>
      }
    </div>
  </div>